@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Dancing Script', cursive;
    --sm-font: 'Poppins', sans-serif;
    --pink: #f71445ec;
}
body{
    font-family: var(--sm-font);
    
}

/* button */
.bg-primary{
    background-color: var(--pink)!important ;
}

.btn:not(.nav-btns button){
    background-color: rgb(209, 15, 15)!important;
    color:(109, 3, 52)
}

/* navbar */
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0,1);
    background: url(../images/blackwallpaper.png);

}
.navbar-brand img{
    width: 60px;
    
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
    color:rgb(109, 3, 52);
    font-weight: bold;
}
.nav-link:hover{
    color: var(--pink)!important
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5,);
}

/* header */
#header{
    background: url(../images/LPFinishedbanner3.jpg) top/cover no-repeat;
    padding-top: 6px;
    
}







/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }

}
